<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignments | Foundations of Algebra</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <% /* Include navigation partial */ %>
    <%- include('partials/nav') %>
    <div class="container">
      <h1>Assignments</h1>
      <% if (user && user.role === 'ta') { %>
      <p><a href="/admin/assignments/new" class="button">Create New Assignment</a></p>
      <% } %>
      <table class="assignments">
        <thead>
          <tr>
            <th>Title</th>
            <th>Due Date</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (assignments.length === 0) { %>
          <tr><td colspan="4">No assignments yet.</td></tr>
          <% } %>
          <% assignments.forEach(function(a){ %>
          <tr>
            <td><%= a.title %></td>
            <td><%= a.dueDate %></td>
            <td><%= a.description %></td>
            <td>
              <% if (user && user.role === 'student') { %>
              <a href="/assignments/<%= a.id %>/submit" class="button small">Submit</a>
              <% } %>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>